#!/usr/bin/env bash

## Required variables
#
#  DEVELOPMENT_TEAM
#

source_up_if_exists

# default (committable) dev variables

source_env_if_exists .local/envrc

: "${DEVELOPMENT_TEAM:?env var must be set in .local/envrc}"
